<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Country Quiz</title>
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">

</head>
<body class="body">
<center>
    <div class="div">
        <header>
            <h1 style="font-family: fantasy">
                Country Quiz
            </h1>
        </header>
    </div>
    <br/>

    <div class="div">
        <h1>Choose the region:</h1>
        <form  method="post">
            <button type="submit" class="buttons" name="region" value="Asia"><b>Asia</b></button>
            <button type="submit" class="buttons" name="region" value="Europe"><b>Europe</b></button>
            <button type="submit" class="buttons" name="region" value="Africa"><b>Africa</b></button>
            <button type="submit" class="buttons" name="region" value="Oceania"><b>Oceania</b></button>
            <button type="submit" class="buttons" name="region" value="Americas"><b>Americas</b></button>
        </form>
    </div>
    <br/>
    <div class="div">
        <button type="button" onclick="window.location.href='/'" class="buttons"><b>Back</b></button>
    </div>

</center>
</body>
</html>