<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Country Quiz</title>
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">

</head>
<body background="/images/world.jpg" class="body">
<center>
    <div class="div">
        <header>
            <h1 style="font-family: fantasy">
                Country Quiz
            </h1>
        </header>
    </div>
    <br/>

    <div class="div">
        <form  method="get" name="form">
            <br>
            <button type="submit" onclick="window.location.href='/play'" class="buttons"><b>Play</b></button>
            <br>
            <button type="button" onclick="window.location.href='/answers'" class="buttons"><b>Answers</b></button>
            <br>
        </form>
    </div>
    <br/>


</center>
</body>
</html>