<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Country Quiz</title>
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">

</head>
<body class="body">
<center>
    <div class="div">
        <header>
            <h1 style="font-family: fantasy">
                Country Quiz
            </h1>
        </header>
    </div>
    <br/>

    <div class="div">
        <b>Choose the region:</b>
        <form  method="post" name="form">
            <br>
            <button type="button" onclick="window.location.href='/play'" class="buttons"><b>Asia</b></button>
            <br>
            <button type="button" onclick="window.location.href='/answers'" class="buttons"><b>Europe</b></button>
            <br>
            <button type="button" onclick="window.location.href='/answers'" class="buttons"><b>Africa</b></button>
            <br>
            <button type="button" onclick="window.location.href='/answers'" class="buttons"><b>Oceania</b></button>
            <br>
            <button type="button" onclick="window.location.href='/answers'" class="buttons"><b>Americas</b></button>
            <br>
        </form>
    </div>
    <br/>
    <div class="div">
        <button type="button" onclick="window.location.href='/'" class="buttons"><b>Back</b></button>
    </div>

</center>
</body>
</html>