<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:mvc="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Country Quiz</title>
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">

</head>
<body class="body">
<center>
    <div class="div" style="font-family: fantasy">
        <header>
            <h1>Country Quiz</h1>
            <h1>Region: <span th:text="${region}"></span></h1>

        </header>
    </div>
    <br/>

    <div class="div">
        <h1>What is the capital of <span th:text="${country}"></span>? </h1>
        <form  method="post" name="form" th:each="answer: ${answers}">
            <br>
            <button type="submit" class="buttons" name="userAnswer" th:value="${answer}" th:text="${answer}"></button>
        </form>
    </div>
    <br/>
    <div class="div">
        <button type="button" onclick="window.location.href='/'" class="buttons"><b>Exit</b></button>
    </div>

</center>
</body>
</html>